<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}YaCut - укоротитель ссылок{% endblock %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/fav/fav.ico') }}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/fav/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/fav/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/fav/favicon-16x16.png') }}">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block extra_css %}{% endblock %}
</head>

<body>
  <header class="pb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('files') }}">Загрузка файлов</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container my-5 px-4">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-info text-center">
          {% for message in messages %}
            <div>{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <footer class="border-top text-center py-3">
    <p>Укоротитель ссылок YaCut</p>
  </footer>

  <!-- Bootstrap JS -->
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
